body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2300px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2300px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1142px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:78px;
  top:35px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:27px;
  top:36px;
  width:63px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:31px;
  width:22px;
  height:29px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u12 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1px;
  top:63px;
  width:80px;
  height:36px;
  font-size:14px;
  color:#0000FF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:81px;
  top:63px;
  width:80px;
  height:36px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:160px;
  top:63px;
  width:80px;
  height:36px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:240px;
  top:63px;
  width:80px;
  height:36px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:299px;
  width:320px;
  height:221px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:221px;
}
#u22 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:340px;
  width:320px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u24 {
  position:absolute;
  left:4px;
  top:314px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:234px;
  top:307px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:4px;
  top:350px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u29 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:80px;
  top:350px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:134px;
  top:353px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:80px;
  top:404px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:430px;
  width:320px;
  height:40px;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:8px;
  top:441px;
  width:59px;
  height:20px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:112px;
  top:437px;
  width:141px;
  height:23px;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:78px;
  top:437px;
  width:143px;
  height:23px;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:23px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:250px;
  top:437px;
  width:62px;
  height:20px;
  font-size:14px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:8px;
  top:484px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:214px;
  top:476px;
  width:100px;
  height:35px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49 {
  position:absolute;
  left:0px;
  top:530px;
  width:320px;
  height:180px;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u50 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:571px;
  width:320px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u52 {
  position:absolute;
  left:4px;
  top:545px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:234px;
  top:538px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:4px;
  top:581px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u57 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:80px;
  top:581px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:134px;
  top:584px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:80px;
  top:635px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:661px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u65 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:4px;
  top:676px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:212px;
  top:668px;
  width:100px;
  height:35px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u69 {
  position:absolute;
  left:0px;
  top:716px;
  width:320px;
  height:221px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:221px;
}
#u70 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:757px;
  width:320px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u72 {
  position:absolute;
  left:4px;
  top:731px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:234px;
  top:724px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:4px;
  top:767px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u77 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:80px;
  top:767px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:134px;
  top:770px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:80px;
  top:821px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:847px;
  width:320px;
  height:40px;
  font-size:14px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:8px;
  top:858px;
  width:59px;
  height:20px;
  font-size:14px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:112px;
  top:854px;
  width:141px;
  height:23px;
  font-size:14px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:78px;
  top:854px;
  width:143px;
  height:23px;
  font-size:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:23px;
}
#u91 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:250px;
  top:854px;
  width:62px;
  height:20px;
  font-size:14px;
  text-align:right;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:8px;
  top:901px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:947px;
  width:320px;
  height:180px;
  font-size:14px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u97 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:988px;
  width:320px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u99 {
  position:absolute;
  left:4px;
  top:962px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:234px;
  top:955px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:4px;
  top:998px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u104 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:80px;
  top:998px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:134px;
  top:1001px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:80px;
  top:1052px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:1078px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u112 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:4px;
  top:1093px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:1137px;
  width:320px;
  height:180px;
  font-size:14px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u116 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:1178px;
  width:320px;
  height:10px;
}
#u117_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u118 {
  position:absolute;
  left:4px;
  top:1152px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:234px;
  top:1145px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:4px;
  top:1188px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u123 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:80px;
  top:1188px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:134px;
  top:1191px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:80px;
  top:1242px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:1268px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u131 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:4px;
  top:1283px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:0px;
  top:1327px;
  width:320px;
  height:180px;
  font-size:14px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u135 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:0px;
  top:1368px;
  width:320px;
  height:10px;
}
#u136_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u137 {
  position:absolute;
  left:4px;
  top:1342px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:234px;
  top:1335px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:4px;
  top:1378px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u142 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:80px;
  top:1378px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:134px;
  top:1381px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:80px;
  top:1432px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:1458px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u150 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:4px;
  top:1473px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:0px;
  top:1517px;
  width:320px;
  height:180px;
  font-size:14px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u154 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:0px;
  top:1558px;
  width:320px;
  height:10px;
}
#u155_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u155_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u155_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u156 {
  position:absolute;
  left:4px;
  top:1532px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:234px;
  top:1525px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u159 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:4px;
  top:1568px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u161 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:80px;
  top:1568px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:134px;
  top:1571px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:80px;
  top:1622px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:0px;
  top:1648px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u169 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:4px;
  top:1663px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:0px;
  top:1707px;
  width:320px;
  height:180px;
  font-size:14px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u173 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:0px;
  top:1748px;
  width:320px;
  height:10px;
}
#u174_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u174_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u174_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u175 {
  position:absolute;
  left:4px;
  top:1722px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:234px;
  top:1715px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u178 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:4px;
  top:1758px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u180 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:80px;
  top:1758px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:134px;
  top:1761px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:80px;
  top:1812px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:0px;
  top:1838px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u188 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:4px;
  top:1853px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:0px;
  top:1897px;
  width:320px;
  height:180px;
  font-size:14px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u192 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:0px;
  top:1938px;
  width:320px;
  height:10px;
}
#u193_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u193_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u193_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u194 {
  position:absolute;
  left:4px;
  top:1912px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:234px;
  top:1905px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u197 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:4px;
  top:1948px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u199 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:80px;
  top:1948px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:134px;
  top:1951px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:80px;
  top:2002px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:0px;
  top:2028px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u207 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:4px;
  top:2043px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:0px;
  top:109px;
  width:320px;
  height:180px;
  font-size:14px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u211 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:0px;
  top:150px;
  width:320px;
  height:10px;
}
#u212_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u212_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u212_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u213 {
  position:absolute;
  left:4px;
  top:124px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:234px;
  top:117px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u216 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:4px;
  top:160px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u218 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:80px;
  top:160px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:134px;
  top:163px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:80px;
  top:214px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:0px;
  top:240px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u226 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:4px;
  top:255px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:212px;
  top:247px;
  width:100px;
  height:35px;
}
#u229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u230 {
  position:absolute;
  left:0px;
  top:2087px;
  width:320px;
  height:180px;
  font-size:14px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u231 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:0px;
  top:2128px;
  width:320px;
  height:10px;
}
#u232_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u232_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u232_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u233 {
  position:absolute;
  left:4px;
  top:2102px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:234px;
  top:2095px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u236 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:4px;
  top:2138px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u238 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:80px;
  top:2138px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:134px;
  top:2141px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:80px;
  top:2192px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:0px;
  top:2218px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u246 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:4px;
  top:2233px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
