body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1420px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1420px;
}
#u1 {
  position:absolute;
  left:2px;
  top:702px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:78px;
  top:35px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:27px;
  top:36px;
  width:63px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:31px;
  width:22px;
  height:29px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u12 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1px;
  top:63px;
  width:80px;
  height:36px;
  font-size:14px;
  color:#0000FF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:81px;
  top:63px;
  width:80px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:160px;
  top:63px;
  width:80px;
  height:36px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:240px;
  top:63px;
  width:80px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:109px;
  width:320px;
  height:191px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:191px;
}
#u22 {
  position:absolute;
  left:2px;
  top:88px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:150px;
  width:320px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u24 {
  position:absolute;
  left:4px;
  top:124px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:234px;
  top:117px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:4px;
  top:160px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:58px;
  top:163px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:299px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:6px;
  top:314px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:214px;
  top:306px;
  width:100px;
  height:35px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37 {
  position:absolute;
  left:6px;
  top:200px;
  width:259px;
  height:22px;
  font-size:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:6px;
  top:232px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:6px;
  top:267px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:358px;
  width:320px;
  height:191px;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:191px;
}
#u44 {
  position:absolute;
  left:2px;
  top:88px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:399px;
  width:320px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u46 {
  position:absolute;
  left:4px;
  top:373px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:234px;
  top:366px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:4px;
  top:409px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:58px;
  top:412px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:548px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u55 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:6px;
  top:563px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:6px;
  top:449px;
  width:259px;
  height:22px;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:6px;
  top:481px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:6px;
  top:516px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:607px;
  width:320px;
  height:191px;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:191px;
}
#u65 {
  position:absolute;
  left:2px;
  top:88px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:648px;
  width:320px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u67 {
  position:absolute;
  left:4px;
  top:622px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:234px;
  top:615px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:4px;
  top:658px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:58px;
  top:661px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:797px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:6px;
  top:812px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:6px;
  top:698px;
  width:259px;
  height:22px;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:6px;
  top:730px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:6px;
  top:765px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:856px;
  width:320px;
  height:191px;
  font-size:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:191px;
}
#u86 {
  position:absolute;
  left:2px;
  top:88px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:897px;
  width:320px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u88 {
  position:absolute;
  left:4px;
  top:871px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:234px;
  top:864px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:4px;
  top:907px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:58px;
  top:910px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:1046px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u97 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:6px;
  top:1061px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:6px;
  top:947px;
  width:259px;
  height:22px;
  font-size:18px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:6px;
  top:979px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:6px;
  top:1014px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:1108px;
  width:320px;
  height:191px;
  font-size:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:191px;
}
#u107 {
  position:absolute;
  left:2px;
  top:88px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:1149px;
  width:320px;
  height:10px;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u109 {
  position:absolute;
  left:4px;
  top:1123px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:234px;
  top:1116px;
  width:80px;
  height:30px;
  font-size:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:4px;
  top:1159px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:58px;
  top:1162px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:1298px;
  width:320px;
  height:49px;
  font-size:14px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u118 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:6px;
  top:1313px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:6px;
  top:1199px;
  width:259px;
  height:22px;
  font-size:18px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:6px;
  top:1231px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:6px;
  top:1266px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:135px;
  top:68px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u128 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:287px;
  top:70px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u130 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:214px;
  top:555px;
  width:100px;
  height:35px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
