body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:78px;
  top:35px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:27px;
  top:36px;
  width:63px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:31px;
  width:22px;
  height:29px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u12 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1px;
  top:63px;
  width:107px;
  height:36px;
  font-size:14px;
  color:#0000FF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:107px;
  top:63px;
  width:107px;
  height:36px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:213px;
  top:63px;
  width:107px;
  height:36px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:109px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:11px;
  top:154px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:11px;
  top:126px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:226px;
  top:121px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:147px;
  top:155px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:194px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u30 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:11px;
  top:239px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:11px;
  top:211px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:226px;
  top:206px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#008000;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:147px;
  top:240px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:283px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u40 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:11px;
  top:328px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:11px;
  top:300px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:226px;
  top:295px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
  text-align:right;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:147px;
  top:329px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:374px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u50 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:11px;
  top:419px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:11px;
  top:391px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:226px;
  top:386px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
  text-align:right;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:147px;
  top:420px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:465px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u60 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:11px;
  top:510px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:11px;
  top:482px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:226px;
  top:477px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
  text-align:right;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:147px;
  top:511px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:556px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u70 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:11px;
  top:601px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:11px;
  top:573px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:226px;
  top:568px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#008000;
  text-align:right;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:147px;
  top:602px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:647px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u80 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:11px;
  top:692px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:11px;
  top:664px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:226px;
  top:659px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#008000;
  text-align:right;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:147px;
  top:693px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:104px;
  top:754px;
  width:111px;
  height:16px;
  font-size:14px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
