body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:620px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:78px;
  top:35px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:27px;
  top:36px;
  width:63px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:31px;
  width:22px;
  height:29px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u12 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:63px;
  width:320px;
  height:96px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:96px;
}
#u14 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:74px;
  width:97px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:10px;
  top:124px;
  width:290px;
  height:16px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:169px;
  width:320px;
  height:91px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:91px;
}
#u20 {
  position:absolute;
  left:2px;
  top:38px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:9px;
  top:180px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u22 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:85px;
  top:180px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:85px;
  top:234px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:144px;
  top:183px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:450px;
  width:320px;
  height:80px;
  font-size:14px;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:760px;
  top:0px;
  width:320px;
  height:980px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:980px;
}
#u32 {
  position:absolute;
  left:2px;
  top:482px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:fixed;
  left:760px;
  top:0px;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u35 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:78px;
  top:35px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:27px;
  top:36px;
  width:63px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:9px;
  top:31px;
  width:22px;
  height:29px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-size:20px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u43 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:760px;
  top:63px;
  width:320px;
  height:96px;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:96px;
}
#u45 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:770px;
  top:74px;
  width:97px;
  height:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:770px;
  top:124px;
  width:301px;
  height:16px;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:760px;
  top:270px;
  width:320px;
  height:91px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:91px;
}
#u51 {
  position:absolute;
  left:2px;
  top:38px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:769px;
  top:281px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u53 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:845px;
  top:281px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:845px;
  top:335px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:904px;
  top:284px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:760px;
  top:628px;
  width:320px;
  height:80px;
  font-size:14px;
  text-align:left;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:760px;
  top:714px;
  width:320px;
  height:240px;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u63 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:766px;
  top:724px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:849px;
  top:724px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:920px;
  top:724px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1008px;
  top:724px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:760px;
  top:745px;
  width:320px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u73 {
  position:absolute;
  left:766px;
  top:755px;
  width:30px;
  height:30px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:804px;
  top:762px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:848px;
  top:760px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:920px;
  top:762px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1001px;
  top:762px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:766px;
  top:795px;
  width:30px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:804px;
  top:802px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:848px;
  top:800px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:920px;
  top:802px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1001px;
  top:802px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:766px;
  top:835px;
  width:30px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:804px;
  top:842px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:848px;
  top:840px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:920px;
  top:842px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1001px;
  top:842px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:766px;
  top:875px;
  width:30px;
  height:30px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:804px;
  top:882px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:848px;
  top:880px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:920px;
  top:882px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1001px;
  top:882px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:766px;
  top:915px;
  width:30px;
  height:30px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:804px;
  top:922px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:848px;
  top:920px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:920px;
  top:922px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1001px;
  top:922px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:760px;
  top:166px;
  width:320px;
  height:97px;
  font-size:14px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:97px;
}
#u124 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:765px;
  top:182px;
  width:60px;
  height:56px;
  font-size:14px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:835px;
  top:176px;
  width:90px;
  height:19px;
  font-size:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:910px;
  top:172px;
  width:59px;
  height:28px;
  font-size:12px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:835px;
  top:222px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1001px;
  top:187px;
  width:69px;
  height:43px;
  font-size:14px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:43px;
}
#u134 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:370px;
  top:0px;
  width:320px;
  height:890px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:890px;
}
#u136 {
  position:absolute;
  left:2px;
  top:437px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:fixed;
  left:370px;
  top:0px;
}
#u137_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u137_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u139 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:78px;
  top:35px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u143 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:27px;
  top:36px;
  width:63px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:9px;
  top:31px;
  width:22px;
  height:29px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-size:20px;
  color:#FFFFFF;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u147 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:370px;
  top:63px;
  width:320px;
  height:96px;
  font-size:14px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:96px;
}
#u149 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:380px;
  top:74px;
  width:97px;
  height:28px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:380px;
  top:124px;
  width:301px;
  height:16px;
  font-size:14px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:370px;
  top:169px;
  width:320px;
  height:91px;
  font-size:14px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:91px;
}
#u155 {
  position:absolute;
  left:2px;
  top:38px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:379px;
  top:180px;
  width:66px;
  height:70px;
  font-size:14px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:70px;
}
#u157 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:455px;
  top:180px;
  width:226px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:455px;
  top:234px;
  width:226px;
  height:16px;
  font-size:14px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:514px;
  top:183px;
  width:186px;
  height:16px;
  font-size:14px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:370px;
  top:530px;
  width:320px;
  height:80px;
  font-size:14px;
  text-align:left;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u165 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:370px;
  top:620px;
  width:320px;
  height:240px;
  font-size:14px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u167 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:376px;
  top:630px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:459px;
  top:630px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:530px;
  top:630px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:618px;
  top:630px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:370px;
  top:652px;
  width:320px;
  height:10px;
}
#u176_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u176_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u176_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u177 {
  position:absolute;
  left:376px;
  top:662px;
  width:30px;
  height:30px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u178 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:414px;
  top:668px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:458px;
  top:666px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u182 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:530px;
  top:668px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:611px;
  top:668px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:376px;
  top:702px;
  width:30px;
  height:30px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u188 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:414px;
  top:708px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:458px;
  top:706px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u192 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:530px;
  top:708px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:611px;
  top:708px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:376px;
  top:742px;
  width:30px;
  height:30px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u198 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:414px;
  top:748px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:458px;
  top:746px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u202 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:530px;
  top:748px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:611px;
  top:748px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:376px;
  top:782px;
  width:30px;
  height:30px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u208 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:414px;
  top:788px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:458px;
  top:786px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u212 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:530px;
  top:788px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:611px;
  top:788px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:376px;
  top:822px;
  width:30px;
  height:30px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u218 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:414px;
  top:828px;
  width:44px;
  height:16px;
  font-size:14px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:458px;
  top:826px;
  width:52px;
  height:21px;
  font-size:14px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u222 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:530px;
  top:828px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:611px;
  top:828px;
  width:58px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:370px;
  top:259px;
  width:320px;
  height:117px;
  font-size:18px;
  color:#0000FF;
  text-align:left;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
}
#u228 {
  position:absolute;
  left:2px;
  top:50px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:370px;
  top:277px;
  width:259px;
  height:22px;
  font-size:18px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:370px;
  top:309px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:370px;
  top:375px;
  width:320px;
  height:94px;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:94px;
}
#u234 {
  position:absolute;
  left:2px;
  top:39px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:370px;
  top:468px;
  width:320px;
  height:45px;
  font-size:14px;
  text-align:left;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u236 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:370px;
  top:343px;
  width:312px;
  height:22px;
  font-size:18px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:22px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:469px;
  top:418px;
  width:200px;
  height:32px;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:469px;
  top:386px;
  width:200px;
  height:22px;
  font-size:18px;
  text-align:right;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:760px;
  top:569px;
  width:320px;
  height:45px;
  font-size:14px;
  text-align:left;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u244 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:760px;
  top:360px;
  width:320px;
  height:117px;
  font-size:18px;
  color:#0000FF;
  text-align:left;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
}
#u246 {
  position:absolute;
  left:2px;
  top:50px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:760px;
  top:378px;
  width:259px;
  height:22px;
  font-size:18px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:760px;
  top:410px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:760px;
  top:476px;
  width:320px;
  height:94px;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:94px;
}
#u252 {
  position:absolute;
  left:2px;
  top:39px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:760px;
  top:444px;
  width:312px;
  height:22px;
  font-size:18px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:22px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:859px;
  top:519px;
  width:200px;
  height:32px;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:859px;
  top:487px;
  width:200px;
  height:22px;
  font-size:18px;
  text-align:right;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:607px;
  top:478px;
  width:22px;
  height:22px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u260 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:1049px;
  top:580px;
  width:22px;
  height:22px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u262 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:0px;
  top:259px;
  width:320px;
  height:117px;
  font-size:18px;
  color:#0000FF;
  text-align:left;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
}
#u264 {
  position:absolute;
  left:2px;
  top:50px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:0px;
  top:277px;
  width:259px;
  height:22px;
  font-size:18px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:0px;
  top:309px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:0px;
  top:343px;
  width:312px;
  height:22px;
  font-size:18px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:22px;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:0px;
  top:375px;
  width:320px;
  height:55px;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u272 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:99px;
  top:393px;
  width:200px;
  height:22px;
  font-size:18px;
  text-align:right;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
