body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:840px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:840px;
}
#u1 {
  position:absolute;
  left:2px;
  top:412px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:78px;
  top:35px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:27px;
  top:36px;
  width:63px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:31px;
  width:22px;
  height:29px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u12 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:790px;
  width:81px;
  height:50px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:77px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:80px;
  top:790px;
  width:81px;
  height:50px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:77px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:160px;
  top:790px;
  width:81px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#009DD9;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:77px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:240px;
  top:790px;
  width:80px;
  height:50px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:188px;
  width:320px;
  height:41px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:64px;
  width:320px;
  height:124px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:124px;
}
#u24 {
  position:absolute;
  left:2px;
  top:54px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:239px;
  width:320px;
  height:131px;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:131px;
}
#u26 {
  position:absolute;
  left:2px;
  top:58px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:6px;
  top:264px;
  width:30px;
  height:40px;
  font-size:10px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:46px;
  top:262px;
  width:40px;
  height:43px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:93px;
  top:256px;
  width:90px;
  height:19px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:168px;
  top:252px;
  width:59px;
  height:28px;
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:93px;
  top:300px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:316px;
  width:320px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u38 {
  position:absolute;
  left:210px;
  top:326px;
  width:100px;
  height:35px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39 {
  position:absolute;
  left:11px;
  top:336px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:374px;
  width:320px;
  height:131px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:131px;
}
#u42 {
  position:absolute;
  left:2px;
  top:58px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:6px;
  top:399px;
  width:30px;
  height:40px;
  font-size:10px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:46px;
  top:397px;
  width:40px;
  height:43px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:93px;
  top:391px;
  width:90px;
  height:19px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:168px;
  top:387px;
  width:59px;
  height:28px;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:93px;
  top:435px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:451px;
  width:320px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u54 {
  position:absolute;
  left:210px;
  top:461px;
  width:100px;
  height:35px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55 {
  position:absolute;
  left:11px;
  top:471px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:510px;
  width:320px;
  height:131px;
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:131px;
}
#u58 {
  position:absolute;
  left:2px;
  top:58px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:6px;
  top:535px;
  width:30px;
  height:40px;
  font-size:10px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:46px;
  top:533px;
  width:40px;
  height:43px;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:93px;
  top:527px;
  width:90px;
  height:19px;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:168px;
  top:523px;
  width:59px;
  height:28px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:93px;
  top:571px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:587px;
  width:320px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u70 {
  position:absolute;
  left:210px;
  top:597px;
  width:100px;
  height:35px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u71 {
  position:absolute;
  left:11px;
  top:607px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:651px;
  width:320px;
  height:131px;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:131px;
}
#u74 {
  position:absolute;
  left:2px;
  top:58px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:46px;
  top:674px;
  width:40px;
  height:43px;
  font-size:14px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:93px;
  top:668px;
  width:90px;
  height:19px;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:168px;
  top:664px;
  width:59px;
  height:28px;
  font-size:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:93px;
  top:712px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:728px;
  width:320px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u84 {
  position:absolute;
  left:210px;
  top:738px;
  width:100px;
  height:35px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u85 {
  position:absolute;
  left:11px;
  top:748px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:14px;
  top:682px;
  width:14px;
  height:28px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
