body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:150px;
  width:835px;
  height:220px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
}
#u2 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:126px;
  top:0px;
  width:395px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:37px;
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:391px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:521px;
  top:0px;
  width:162px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:158px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:683px;
  top:0px;
  width:147px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:37px;
  width:126px;
  height:34px;
  font-size:14px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:126px;
  top:37px;
  width:395px;
  height:34px;
  font-size:14px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:391px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:521px;
  top:37px;
  width:162px;
  height:34px;
  font-size:14px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:34px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:158px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:683px;
  top:37px;
  width:147px;
  height:34px;
  font-size:14px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:34px;
}
#u16 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:71px;
  width:126px;
  height:36px;
  font-size:14px;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:126px;
  top:71px;
  width:395px;
  height:36px;
  font-size:14px;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:521px;
  top:71px;
  width:162px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:683px;
  top:71px;
  width:147px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:107px;
  width:126px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:126px;
  top:107px;
  width:395px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:521px;
  top:107px;
  width:162px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:683px;
  top:107px;
  width:147px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:143px;
  width:126px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u33_img.mouseDown {
}
#u33.mouseDown {
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:126px;
  top:143px;
  width:395px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u35_img.mouseDown {
}
#u35.mouseDown {
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:521px;
  top:143px;
  width:162px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:683px;
  top:143px;
  width:147px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:179px;
  width:126px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:right;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u41_img.mouseDown {
}
#u41.mouseDown {
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:126px;
  top:179px;
  width:395px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:right;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u43_img.mouseDown {
}
#u43.mouseDown {
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:521px;
  top:179px;
  width:162px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:683px;
  top:179px;
  width:147px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
