body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:78px;
  top:35px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:27px;
  top:36px;
  width:63px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:31px;
  width:22px;
  height:29px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u12 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:71px;
  width:320px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u14 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:90px;
  top:76px;
  width:180px;
  height:35px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:14px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u16 {
  position:absolute;
  left:0px;
  top:116px;
  width:320px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u17 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:90px;
  top:121px;
  width:180px;
  height:35px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:14px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  position:absolute;
  left:0px;
  top:161px;
  width:320px;
  height:119px;
  font-size:14px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:119px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:90px;
  top:170px;
  width:220px;
  height:100px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:14px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:0px;
  top:279px;
  width:320px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u23 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:90px;
  top:284px;
  width:180px;
  height:35px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:14px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u25 {
  position:absolute;
  left:0px;
  top:348px;
  width:320px;
  height:166px;
  font-size:14px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:166px;
}
#u26 {
  position:absolute;
  left:2px;
  top:75px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:17px;
  top:360px;
  width:200px;
  height:16px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:124px;
  top:390px;
  width:71px;
  height:16px;
  font-size:72px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:17px;
  top:386px;
  width:283px;
  height:112px;
  font-size:72px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:112px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:279px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:524px;
  width:320px;
  height:166px;
  font-size:14px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:166px;
}
#u34 {
  position:absolute;
  left:2px;
  top:75px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:17px;
  top:536px;
  width:200px;
  height:16px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:124px;
  top:566px;
  width:71px;
  height:16px;
  font-size:72px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:17px;
  top:562px;
  width:283px;
  height:112px;
  font-size:72px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:112px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:279px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:720px;
  width:320px;
  height:60px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  word-wrap:break-word;
}
