body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:710px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:710px;
}
#u1 {
  position:absolute;
  left:2px;
  top:347px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:78px;
  top:35px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:27px;
  top:36px;
  width:63px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:31px;
  width:22px;
  height:29px;
  font-family:'Lucida Grande Regular', 'Lucida Grande';
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u12 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1px;
  top:63px;
  width:107px;
  height:36px;
  font-size:14px;
  color:#0000FF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:107px;
  top:63px;
  width:107px;
  height:36px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:213px;
  top:63px;
  width:107px;
  height:36px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:112px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:11px;
  top:157px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:11px;
  top:129px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:226px;
  top:124px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#008000;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:147px;
  top:158px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:201px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u30 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:11px;
  top:246px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:11px;
  top:218px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:226px;
  top:213px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:147px;
  top:247px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:292px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u40 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:11px;
  top:337px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:11px;
  top:309px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:226px;
  top:304px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
  text-align:right;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:147px;
  top:338px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:383px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u50 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:11px;
  top:428px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:11px;
  top:400px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:226px;
  top:395px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#008000;
  text-align:right;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:147px;
  top:429px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:474px;
  width:320px;
  height:81px;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:81px;
}
#u60 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:11px;
  top:519px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:11px;
  top:491px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:226px;
  top:486px;
  width:80px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#008000;
  text-align:right;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:147px;
  top:520px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:104px;
  top:582px;
  width:111px;
  height:16px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
